/* NAVBAR STYLES */

.navbar-inverse .navbar-nav>li>a{
    color: lightgreen;
}
.navbar{
    background-color: rgba(5,30,20,0.9);
}
.navbar-inverse .navbar-brand {
    color: lightgreen;
}
.navbar-inverse .navbar-brand b {
    font-size: 25px;
}
.navbar-inverse .navbar-brand span {
    color: rgb(0,180,0)
}
nav span.glyphicon{
    color:green;
}
#login-btn{
    padding: 6px 15px 6px 15px;
    color:white;
}
  




/* GENERAL STYLES */

.after-nav {
    margin-top: 50px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(5,30,20,0.9); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  



  

/* AUTHENTICATION STYLES */

button a:link {
    text-decoration: none;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .auth-form-control 
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .auth-form-control :focus
{
    z-index: 0;
}
.form-signin input[type="text"]
{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.auth-img
{
    color:#5cb85c;
    font-size:100px;
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#different_passwords_error
{
    display: none;
}





/* PROFILE STYLES */

.profile-header {
    background: linear-gradient(to bottom,
             lightgreen 0px,
             lightgreen 50px,
             white 100%);
}

.jumbotron h1 {
    padding-top: 50px;
}

.heavy {
    font-weight: 750;
}
h3 i{
    font-size: 300%;
    color: green;
}
.profile-img {
    width: auto;
    color:#5cb85c;
    font-size: 60px;
    vertical-align: middle;
    margin: 0 auto 10px;
    -moz-border-radius: 40%;
    -webkit-border-radius: 40%;
    border-radius: 40%;
}

.profile-edit-img {
    cursor: pointer;
}

@media only screen and (max-width:767px){
    .profile-img{
        display: block;
    }
}
.profile-form-control {
    width:auto;
}
#resume_content {
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.user_stats{
    color:green;
}
#resume_stuff{
    padding: 10px;
    border: 2px solid lightgreen;
}
#resume_content:focus{
    cursor: text;
}