{% extends "articles/base.html" %}

{% load static %}

{% block styles %}
{% endblock %}

{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1 class="article-title">{{ article.title }}</h1>
        <h3>{{ article.description }}</h3>
        <!--<ul id="columns">
            <li class="column" draggable="true"><header>A</header></li>
            <li class="column" draggable="true"><header>B</header></li>
            <li class="column" draggable="true"><header>C</header></li>
            <li class="column" draggable="true"><header>D</header></li>
            <li class="column" draggable="true"><header>E</header></li>
        </ul>-->
        <!--<form method="POST" action="{% url "articles:create_article"  %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> &nbsp;Create new draft</h3>
                </div>  
                <div class="modal-body">
                    <div class="form-group">
                    <label for="new_article_title">Title: </label>
                    <input type="text" class="form-control" id="new_article_title" name="title" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="new_article_description">Description: </label>
                        <textarea rows="3" class="form-control" id="new_article_description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="new_article_image">Image: </label>
                        <input name="file" type="file" accept="image/png,image/jpg,image/jpeg">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>  
        <script>
            function verify1() {
                jQuery.ajax({
                    type: 'POST',
                    url:"functions.php",
                    data: new FormData($("#infoForm1")[0]),
                    processData: false, 
                    contentType: false, 
                    success: function(returnval) {
                        $("#show1").html(returnval);
                        $('#show1').show();
                    }
                });
            }
        </script>-->
    </div>
</div>

<div class="actions-menu" 
    onmouseenter="document.getElementById('action-buttons').style.display='block'" 
    onmouseleave="document.getElementById('action-buttons').style.display='none'">
    <div id="action-buttons">
        <span class="glyphicon glyphicon-floppy-disk action-button" title="Save" onclick="saveArticle({{ article.id }});"></span>
        <span class="glyphicon glyphicon-share action-button" title="Publish" data-toggle="modal" data-target="#publish_article_modal"></span>
        <span class="glyphicon glyphicon-trash action-button" title="Delete" data-toggle="modal" data-target="#delete_article_modal"></span>
        <!--<span class="glyphicon glyphicon-tags action-button" title="Tag" onclick="alert('Tagged!')"></span>-->
        <!--<span class="glyphicon glyphicon-bookmark action-button" title="Bookmark" onclick="alert('Bookmark saved!')"></span>
        <a href="#comment-section"><span class="glyphicon glyphicon-comment action-button" title="Comment"></span></a>
        <span class="glyphicon glyphicon-star action-button" title="Rate" onclick="alert('Rated!')"></span>-->
    </div>
</div>

<!--
    <div style="background-image: url('https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg'); height: 100px;">
    </div>
-->


<div class="text-center">
    {% if article.tags %}
        {% for tag in article.tags %}
            <span class="label label-success">{{ tag.tag }}</span>
        {% endfor %}
    {% endif %}
</div>



{% if article.image_path != "" %}
<img id="cover-image" src="http://p7g5g3g9.hostrycdn.com/{{article.image_path}}"></img>
{% else %}
<img id="cover-image" src="https://www.freeiconspng.com/uploads/no-image-icon-6.png"></img>
{% endif %}  



<div class="row">
    <!-- Left/upper div -->
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">  
        <br>
    </div>

    <!-- Article content -->
    <div id="article_content" class="col-xs-10 col-sm-10 col-md-10 col-lg-8" >
        <div id="columns">
            {{ article.content | safe }}
        </div>    
        <br><br>
        <p class="text-center">
            <span class="glyphicon glyphicon-plus action-button" title="Insert paragraph" onclick="addElement(null);"></span>
            <span class="glyphicon glyphicon-header action-button" title="Insert title" onclick="addTitle(null);"></span>
            <span class="glyphicon glyphicon-list action-button" title="Insert list" onclick="addList(null);"></span>
            <span class="glyphicon glyphicon-camera action-button" title="Insert image" data-toggle="modal" data-target="#upload_image_modal"></span>

            <!--<span class="glyphicon glyphicon-bold action-button" onmousepress="addBold();"></span>
            <span class="glyphicon glyphicon-italic action-button" onclick="addItalic();"></span>-->
        </p>
        <br><br><br><br>
    </div>

    <!-- Right/lower div -->
    <div class="col-xs-1 col-sm-10 col-md-1 col-lg-2">   
        <br>
    </div>
</div>

<div id="upload_image_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <!--<form id="dataform1" method="POST" enctype="multipart/form-data" action="{% url "articles:upload_article_image"  %}">
            {% csrf_token %}
            <input type="number" name="article_id" value="{{ article.id }}" />
            <input name="uploaded_image" type="file" />
            <button>Submit</button>
        </form>-->

        <form id="upload_image_form" method="POST" enctype="multipart/form-data" action="{% url "articles:upload_article_image"  %}">
            {% csrf_token %}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-success"><span class="glyphicon glyphicon-camera"></span> &nbsp;Upload image</h3>
                </div>
                <div class="modal-body">
                    <h4>Select an image from your device:</h4>
                    <input type="hidden" name="article_id" value="{{ article.id }}" />
                    <input id="uploaded_image" name="uploaded_image" type="file" required/>
                    <h5 class="text-success"><span class="glyphicon glyphicon-warning-sign"></span> &nbsp;PNG format is preferred!</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Upload</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="delete_article_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="POST" action="{% url "articles:delete_article" article.id %}">
            {% csrf_token %}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-danger"><span class="glyphicon glyphicon-trash"></span> &nbsp;Delete draft</h3>
                </div>
                <div class="modal-body">
                    <h4>Do you really wish to delete the current article?</h4>
                    <h4 class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> &nbsp;The draft <span class="label label-danger">{{ article.title }}</span> will be permanently deleted!</h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="publish_article_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="POST" action="{% url "articles:publish_article" article.id %}" onsubmit="getTags();">
            {% csrf_token %}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-primary"><span class="glyphicon glyphicon-share"></span> &nbsp;Publish article <span class="label label-primary">{{ article.title }}</span></h3>
                </div>
                <div class="modal-body">
                    <h4>Pick a topic for the article.</h4>
                    <hr>
                    <h4 class="text-primary"><span class="glyphicon glyphicon-tag"></span> &nbsp;Choose a topic from the list:</h4>
                    <select id="select2" name="topic" size="5" class="form-control text-center" required="true">
                        {% for key, value in topics %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <h4>Pick some tags for the article.</h4>
                    <hr>
                    <h4 class="text-primary"><span class="glyphicon glyphicon-tag"></span> &nbsp;Choose some tags from the list:</h4>
                    <select id="select1" multiple size="7" onselect="alert(this.option);" class="form-control text-center" >
                        <option value="Web apps">Web apps</option>
                        <option value="Desktop apps">Desktop apps</option>
                        <option value="Databases">Databases</option>
                        <option value="Back-end">Back-end</option>
                        <option value="Front-end">Front-end</option>
                        <option value="Javascript">Javascript</option>
                        <option value="Python">Python</option>
                        <option value="Software Engineering">Software Engineering</option>
                    </select>
                    <br>
                    <h4 class="text-primary"><span class="glyphicon glyphicon-tag"></span> &nbsp;Write your own custom tags:</h4>
                    <input id="custom_tags" type="text" class="form-control text-center" >
                    <br>
                    <div id="selected_tags"></div>
                    <input id="tags" name="tags" type="hidden" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Publish</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--<form action="/articles/save/{{article.id}}/" method="POST" class="text-center" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="file" type="file" accept="image/png,image/jpg,image/jpeg">
    <button type="submit">Upload</button>
</form>-->



{% endblock %}




{% block scripts %}
    <script>
        var is_edit_article_template = true;
    </script>
    <script src="{% static 'script.min.js' %}"></script>
{% endblock %}