{% extends "articles/base.html" %}

{% load static %}

{% block styles %}
  <style>
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">
{% endblock %}

{% block edit_profile_active %}active{% endblock %}

{% block content %}

<!--
<div class="jumbotron">
    {% if request.user.username %}
        <h1 class="text-center">
          <span>
            <img src="https://cdn-images-1.medium.com/fit/c/125/125/1*RzDIGPB3879XLEkvtnwoHA.jpeg" class="profile-img"></img>
          </span>
        <span>{{ request.user.username }}</span></h1>
    {% else %}<h1 class="text-center"> Please log in, stranger.</h1>{% endif %}
</div>
-->
<div class="jumbotron profile-header">
    <h1 class="text-center">
      {% if request.user.profileImagePath %}
        <span><img src="{{ request.user.profileImagePath }}" height="90" data-toggle="tooltip" data-placement="top" title="Edit image" class="profile-img profile-edit-img"></img></span>
      {% else %}
        <span class="glyphicon glyphicon-user profile-img profile-edit-img"></span>
      {% endif %}
      {% if request.user.first_name %}
        <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
      {% else %}
        <span>{{ request.user.username }}</span>
      {% endif %}
    </h1>

    <br>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 user_stats">
        <div class="row">
          <div class="col-sm-4">
            <p class="text-center"><b class="heavy">{{ request.user.number_of_articles }}</b> Articles</p>
          </div>
          <div class="col-sm-4 text-center">
            <p class="text-center"><b class="heavy">{{ request.user.number_of_followers }}</b> Followers</p>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><b class="heavy">{{ request.user.number_of_followees }}</b> Followees</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <h3 id="resume_content" contenteditable="true" class="text-center" data-toggle="tooltip" title="Edit resume">
            {% if request.user.resume %}
              {{ request.user.resume }}
            {% endif %}
        </h3>
        <br>
        <!--<i class="glyphicon glyphicon-option-vertical pull-left"></i><i class="glyphicon glyphicon-option-vertical pull-right"></i>{{ request.user.resume }}</h3>-->
        <!--<i class="glyphicon glyphicon-menu-left pull-left"></i><i class="glyphicon glyphicon-menu-right pull-right"></i>{{ request.user.resume }}</h3>-->
        <!--<i class="glyphicon glyphicon-menu-right pull-left"></i><i class="glyphicon glyphicon-menu-left pull-right"></i>{{ request.user.resume }}</h3>-->
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    
    <div class="text-center">
      <button id="save_profile_button" form="profile_form" type="submit" class="btn btn-success active" onclick="document.getElementById('resume').value = document.getElementById('resume_content').innerHTML.replace(/^\s+|\s+$/g, '')">Save profile</button>
    </div>

    
</div>


{% if request.user.username %}
<div class="container">

  <form id="profile_form" class="form-horizontal" action="{% url 'articles:edit_profile' %}" method="POST">
    {% csrf_token %}

    <input type="hidden" id="resume" name="resume" placeholder="Enter a resume" value="{{ request.user.resume }}">

    <div class="form-group">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <h3>Personal information</h3>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="first_name">First name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control profile-form-control" id="first_name" name="first_name" placeholder="Enter first name" value="{{ request.user.first_name }}" size="{{ request.user.first_name | length }}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="last_name">Last name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control profile-form-control" id="last_name" name="last_name" placeholder="Enter last name" value="{{ request.user.last_name }}" size="{{ request.user.last_name | length }}">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control profile-form-control" id="email" name="email" placeholder="Enter e-mail" value="{{ request.user.email }}" size="{{ request.user.email | length }}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success active" onclick="document.getElementById('resume').value = document.getElementById('resume_content').innerHTML">Save profile</button>
      </div>
    </div>
  </form>


  <!--<form class="form-horizontal" action="{% url 'articles:edit_profile' %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <h3>Change password</h3>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control profile-form-control" id="pwd" placeholder="Enter password" value="1y2Kd363l" size="10" pattern="([a-zA-Z]+[0-9]+[a-zA-Z0-9]*)|[0-9]+[a-zA-Z]+[a-zA-Z0-9]*">
        <span class="help-block">Your password should contain numbers and letters.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Change password</button>
      </div>
    </div>
  </form>-->

  <br><br>

</div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  var resume = '{{ request.user.resume }}';
  function checkChanges(){
    if (document.getElementById('resume_content').value != resume) 
      document.getElementById('save_profile_button').disabled = false;
    else
      document.getElementById('save_profile_button').disabled = true;
  }
</script>

{% endblock %}
