{% extends 'articles/base.html' %}

{% load static %}

{% block styles %}
{% endblock %}

{% block login_active %}class="active"{% endblock %}

{% block content %}

  <div class="container after-nav">
    <br><br><br>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <div class="well">
          <h1 class="text-center">Login</h1>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h4 class="text-center">Insert your login credentials</h4>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <br>
          <span class="glyphicon glyphicon-user auth-img"></span>
          <br>

          <form class="form-signin" method="POST" action="{% url 'articles:login' %}">
            {% csrf_token %}

            {% if wrong_credentials %}
            <p class="text-danger">Incorrect username or password!</p>
            {% endif %}

            <input type="text" name="username" class="form-control auth-form-control text-center" placeholder="username" required autofocus>

            <input type="password" name="password"  id="password" class="form-control auth-form-control text-center" placeholder="password" required>

            <button class="btn btn-lg btn-success btn-block" type="submit">Log in</button>

            <span class="clearfix"></span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
      function doOnload() {
          // Do the downloading awhile AFTER the onload.
          setTimeout("downloadComponents()", 3000);
      }
      
      window.onload = doOnload;

      // Download external components dynamically using JavaScript.
      function downloadComponents() {
          downloadCSS("{% static 'register_style.css' %}");
      }
      
      // Download a stylesheet dynamically.
      function downloadCSS(url) {
          var elem = document.createElement("link");
          elem.rel = "stylesheet";
          elem.type = "text/css";
          elem.href = url;
          document.body.appendChild(elem);
      }
      
      // Download a script dynamically.
      function downloadJS(url) {
          var elem = document.createElement("script");
          elem.src = url;
          document.body.appendChild(elem);
      }
      </script>

{% endblock %}
