{% extends "articles/base.html" %}

{% load static %}

{% block styles %}
  <style>
    .article-box {
        overflow: hidden;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .article-box:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .article-box:hover h3{
        text-shadow: 1px 1px 1px rgb(128,128,128);
    }

    .article-box-title h3 {
        margin-bottom: 0px;
    }

    .delete-action-icon {
        color: #f45642;
    }

    .publish-action-icon {
        color: #3a42e8;
    }

    .edit-action-icon {
        color: green;
    }


    .ellipsed {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* number of lines to show */
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .article-box-content {
        cursor: pointer;
    }

    .article-author {
        border: 1px dotted gray;
        border-radius: 5px;
        color: gray;
    }

    .article-author:hover {
        border: 1px solid gray;
    }

    .article-author img {
        margin-right: 20px;
        border-radius: 5px;
    }

    .article-author > span {
        font-size: 65px;
        margin-right: 20px;
    }

    @media screen and (max-width: 767px){
        .article-box-content {
            padding: 10px 20px 10px 20px;
            max-height: 250px;
        }
    }
    @media screen and (min-width: 768px){
        .article-box-content {
            padding: 10px 20px 10px 20px;
            height: 250px;
        }
    }

    .article-box-image {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        height: 100%;
        max-height: 250px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        text-align: center;
        font-size: 30px;
        display: table;
    }

    .article-box-controls-container {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        height: 100%;
        text-align: center;
        display: table;
        font-size: 0px;
    }

    .article-box-controls-container:hover {
        background-color: rgba(200,200,200,0.7); 
        font-size: 40px;
    }

    .article-box-controls-container span:hover {
        font-weight: 900;
        cursor: pointer;
    }

    .article-box-controls {
        display: table-cell;
        vertical-align: middle;
    }

    .col-sm-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .divider {
        margin-top: 0px;
    }

  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">
{% endblock %}


{% block content %}

<div class="jumbotron profile-header">
  <h1 class="text-center">

    {% if selected_user.profileImagePath %}
      <span><img src="{{ selected_user.profileImagePath }}" height="90" class="profile-img"></img></span>
    {% else %}
      <span class="glyphicon glyphicon-user profile-img"></span>
    {% endif %}
    {% if selected_user.first_name %}
      <span>{{ selected_user.first_name }} {{ selected_user.last_name }}</span>
    {% else %}
      <span>{{ selected_user.username }}</span>
    {% endif %}

    </h1>

    <br>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 user_stats">
        <div class="row">
          <div class="col-sm-4">
            <p class="text-center"><b class="heavy">{{ selected_user.number_of_articles }}</b> Articles</p>
          </div>
          <div class="col-sm-4 text-center">
            <p class="text-center"><b class="heavy">{{ selected_user.number_of_followers }}</b> Followers</p>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><b class="heavy">{{ selected_user.number_of_followees }}</b> Followees</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    {% if selected_user.resume %}
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <h3 id="resume_stuff" class="text-center">
          {{ selected_user.resume }}</h3>
          <br>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    {% endif %}

    {% if request.user.username != selected_user.username %}
    <div class="text-center">
      <a href="" class="btn btn-success active">Follow</a>
      <!--<a href="https://www.youtube.com" target="_blank" class="btn btn-warning active">Unfollow</a>-->
    </div>
    {% else %}
    <div class="text-center">
      <a href="{% url 'articles:edit_profile' %}" class="btn btn-default">Edit profile</a>
    </div>
    {% endif %}

</div>

<div class="container">
  <!--<form class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-8">
        <h3>Personal information</h3>
      </div>
    </div>

    {% if selected_user.first_name %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control profile-form-control" id="name" placeholder="Enter name" value="{{selected_user.first_name}} {{selected_user.last_name}}">
      </div>
    </div>
    {% endif %}

    {% if selected_user.email %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="email">Email:</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control profile-form-control" id="email" placeholder="Enter e-mail" value="{{selected_user.email}}" size="{{selected_user.email | length}}">
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <label class="control-label col-sm-4" for="joined_date">Joined in:</label>
      <div class="col-sm-8">
        <input type="date" readonly class="form-control profile-form-control" id="joined_date" placeholder="Enter join date" value="{{selected_user.date_joined.year}}-0{{selected_user.date_joined.month}}-{{selected_user.date_joined.day}}">
      </div>
    </div>
  -->
    <!--
    <div class="form-group">
      <label class="control-label col-sm-4" for="age">Age:</label>
      <div class="col-sm-8">
        <p class="form-control-static">1000</p>
        <input type="number" class="form-control" id="age" value="1000" size="5" readonly>
      </div>
    </div>
    -->
  </form>

  <br><br>

  <h3>Publications</h3>
  <hr class="divider">

  <br><br>

  {% for article in articles %}
  <div class="col-md-6" id="article_box_{{ article.id }}" onclick="window.location.href = '{% url "articles:read_article" article.id %}'">
      <div class="article-box">
          <div class="row">
              <div class="col-sm-6">
                  {% if article.image_path != "" %}
                  <div class="article-box-image" style="background-image: url('/static/articles/{{ article.image_path }}');">
                  {% else %}
                  <div class="article-box-image" style="background-image: url('https://www.freeiconspng.com/uploads/no-image-icon-6.png');">
                  {% endif %}                                    
                      <div class="article-box-controls-container">
                          <p class="article-box-controls">
                              <a href="{% url 'articles:read_article' article.id %}"><span class="glyphicon glyphicon-eye-open edit-action-icon" title="Read"></span></a>
                          </p>
                      </div>
                  </div>
              </div>
              <!--<div class="col-sm-6" onclick="window.location.href = '{% url "articles:edit_article" article.id %}'">-->
              <div class="col-sm-6">
                  <div class="article-box-content">
                      <div class="article-box-title">
                          <h3>{{ article.title }}</h3>
                          <p class="ellipsed">{{ article.description }}</p>
                      </div>
                      <div class="article-author">
                          <span class="glyphicon glyphicon-user pull-left"></span>
                          <h4><a href="/profile/@{{ article.author }}/">{{ article.author }}</a></h4>
                          <p><span class="glyphicon glyphicon-calendar"></span>&nbsp; {{ article.last_modified_date | date:"Y-m-d" }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
