{% extends "articles/base_public.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">
{% endblock %}

{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1 class="article-title">{{ article.title }}</h1>
        <h3>{{ article.description }}</h3>
        <!--<ul id="columns">
            <li class="column" draggable="true"><header>A</header></li>
            <li class="column" draggable="true"><header>B</header></li>
            <li class="column" draggable="true"><header>C</header></li>
            <li class="column" draggable="true"><header>D</header></li>
            <li class="column" draggable="true"><header>E</header></li>
        </ul>-->
        
    </div>
</div>

<div class="actions-menu" 
    onmouseenter="document.getElementById('action-buttons').style.display='block'" 
    onmouseleave="document.getElementById('action-buttons').style.display='none'">
    <div id="action-buttons">
        <!--<span class="glyphicon glyphicon-floppy-disk action-button" title="Save" onclick="saveArticle({{ article.id }});"></span>
        <span class="glyphicon glyphicon-share action-button" title="Publish" data-toggle="modal" data-target="#publish_article_modal"></span>
        <span class="glyphicon glyphicon-trash action-button" title="Delete" data-toggle="modal" data-target="#delete_article_modal"></span>-->
        <a href="#comment_form"><span class="glyphicon glyphicon-comment action-button" title="Comment"></span></a>
        <!--<span class="glyphicon glyphicon-tags action-button" title="Tag" onclicTagged!')"></span>-->
        <!--<span class="glyphicon glyphicon-bookmark action-button" title="Bookmark" onclick="alert('Bookmark saved!')"></span>
        <a href="#comment-section"><span class="glyphicon glyphicon-comment action-button" title="Comment"></span></a>
        <span class="glyphicon glyphicon-star action-button" title="Rate" onclick="alert('Rated!')"></span>-->
    </div>
</div>

<!--
    <div style="background-image: url('https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg'); height: 100px;">
    </div>
-->




{% if article.image_path != "" %}
<img id="cover-image" src="/static/articles/{{article.image_path}}"></img>
{% else %}
<img id="cover-image" src="https://www.freeiconspng.com/uploads/no-image-icon-6.png"></img>
{% endif %}  


<!-- AUTHOR INFO -->
<!--
<div class="text-center">
    <h1 class="text-center">    
        <span class="article-page-author-info" onclick="window.location.href='/profile/@{{ author.username }}/'">
            <span class="glyphicon glyphicon-user profile-img"></span>
            <span>{{ author.username }}</span>                
        </span>                        
    </h1>    

    <p><span class="glyphicon glyphicon-calendar"></span>&nbsp; {{ article.pub_date | date:"Y-m-d"  }} &nbsp;</p>
</div>-->
    
<br><br><br>




<div class="row">
    <!-- Left/upper div -->
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2">  
        <br>
    </div>

    <!-- Article content -->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8" >
        <div id="article_content">
            <div id="columns">
                {{ article.content | safe }}
            </div>    
            
            <!-- CONTROLS
            <p class="text-center">
                <span class="glyphicon glyphicon-plus action-button" title="Insert paragraph" onclick="addElement(null);"></span>
                <span class="glyphicon glyphicon-header action-button" title="Insert title" onclick="addTitle(null);"></span>
                <span class="glyphicon glyphicon-list action-button" title="Insert list" onclick="addList(null);"></span>
                <span class="glyphicon glyphicon-camera action-button" title="Insert image" data-toggle="modal" data-target="#upload_image_modal"></span>
            </p>
            -->
        </div>

        <br><br>

        <hr>
        <!-- TAGS -->
        <div class="text-center">
            {% if article.tags %}
                <b><span class="glyphicon glyphicon-tag"></span>&nbsp; Tags: &nbsp;</b>
                {% for tag in article.tags %}
                    <span class="label label-success article-label">{{ tag.tag }}</span>
                {% endfor %}
            {% endif %}
            <br><br>
            
            <p><span class="glyphicon glyphicon-calendar"></span>
                <b>&nbsp;{{ article.pub_date | date:"Y-m-d"  }} &nbsp;</b> | &nbsp; 
                <a href="{% url 'articles:search_by_topic' article.topic %}"><span class="label label-primary article-label">{{ topic }}</span></a>
            </p>

            
        </div>
        <hr>

        <br><br>

        <!-- AUTHOR INFO -->
        <div class="text-center article-page-author-info" onclick="window.location.href='/profile/@{{ author.username }}/'">
            <h1 class="text-center">                            
                {% if author.profileImagePath %}
                    <span><img src="{{ author.profileImagePath }}" height="90" class="profile-img"></img></span>
                {% else %}
                    <span class="glyphicon glyphicon-user profile-img"></span>
                {% endif %}
                {% if author.first_name %}
                    <span>{{ author.first_name }} {{ author.last_name }}</span>
                {% else %}
                    <span>{{ author.username }}</span>
                {% endif %}              
            </h1>              
            
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">  
                <h3 id="resume_stuff" class="text-center">{{ author.resume }}</h3>
                    <br>
                </div>
                <div class="col-lg-3">
                </div>
            </div>    

            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 user_stats">
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-center"><b class="heavy">{{ author.number_of_articles }}</b><br> Articles</p>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p class="text-center"><b class="heavy">{{ author.number_of_followers }}</b><br> Followers</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-center"><b class="heavy">{{ author.number_of_followees }}</b><br> Followees</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>      
        </div>
            
        <br><br>

        <hr>

        <h2 class="darkgreen">Comments<span id="number_of_comments"></span></h2>  

        <form id="comment_form" method="POST" action="{% url "articles:comments" article.id %}">
            <div id="comment_form_content" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 well form-group">
                <script>
                    var html;
                    var element = document.getElementById('comment_form_content');
                    var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                    var profile_image = document.cookie.replace(/(?:(?:^|.*;\s*)profile_image\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                    if (profile_image != 'None') profile_image = profile_image.substring(1, profile_image.length-1);

                    // If the user is (supposedly) logged in
                    if (cookieValue) {
                        html = `
                        ${profile_image != 'None' ? '<img src="' + profile_image + '" class="comment-profile-image">' : '<span class="glyphicon glyphicon-user comment-glyph"></span>'}
                        <a href="/profile/@${ cookieValue }/">${ cookieValue }</a>
                        <textarea id="comment_area" name="comment" rows="3" class="form-control"></textarea>
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Submit comment"/>
                        </div>
                        `;
                    }
                    else {
                        html = `
                            <h4 class="text-center darkgreen">Please <a href="/login/">log in</a> before commenting</h4>
                        `;
                    }
                    
                    element.innerHTML = html;
                </script>
                
            </div>
        </form>

        <div id="comments_container">

        </div>

        <div id="comments_loader" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 well text-center">
            <h4 id="comments_loader_text" class="btn btn-success" onclick="loadComments({{ article.id }}, active_page++)">Load comments</h4>
        </div>

        



    </div>

    <!-- Right/lower div -->
    <div class="col-xs-1 col-sm-10 col-md-1 col-lg-2">   
        <br>
    </div>
</div>




{% endblock %}




{% block scripts %}

<script>

    var active_page = 1;
    
    function loadComments(article_id, page){

        url = "/comments/" + article_id + '/?page=' + page;

        // Update the loader button
        document.getElementById("comments_loader_text").innerHTML = 'Loading comments...';

        $.get(url, function(data, status){
            
            // Process data
            if (data!=null && data.comments != null && data.comments.length > 0){

                number_of_comments = data.comments.length;
                //document.getElementById("number_of_comments").innerHTML = '&nbsp;(' + number_of_comments + ')';
                
                var html = '';
                data.comments.forEach(comment => {
                    html += `
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 well">
                        <span class="glyphicon glyphicon-user comment-glyph"></span>
                        <a href="/profile/@${ comment.author }/">${ comment.author }</a>
                        <p class="comment-content">${ comment.content }</p>
                        <span class="pull-right"><span class="glyphicon glyphicon-calendar"></span> ${ comment.date.split('T')[0] } , ${ comment.date.split('T')[1].split('.')[0] }</span>
                    </div>
                    `;
                });
                // Render the comments
                document.getElementById("comments_container").innerHTML += html;
                
                // Hide the loader button
                //document.getElementById("comments_loader").style.display = 'none';
                document.getElementById("comments_loader_text").innerHTML = 'Load more comments';
            }
            else {
                document.getElementById("comments_loader_text").classList = '';
                if (active_page == 2) document.getElementById("comments_loader_text").innerHTML = 'There are no comments';
                else document.getElementById("comments_loader_text").innerHTML = 'There are no more comments';
                document.getElementById("comments_loader").style.cursor = 'auto';
            }
        });
    }



    var a = true;
    var times = 2;

    function blinkComment(){
      element = document.getElementById("comments_container").firstElementChild;
      if (times>0){
        if (a==true){
          element.style.border = '2px solid green';
          element.style.backgroundColor = 'lightgreen';
          a = false;
          setTimeout(blinkComment, 600);
        }
        else{
          element.style.border = '1px solid #e3e3e3';
          element.style.backgroundColor = '#f5f5f5';
          a = true;
          setTimeout(blinkComment, 100);
        }
        times--;
      }
      else{
        //document.getElementById('different_passwords_error').style.display='none';
        times = 2;
      }
    }


    $("#comment_form").submit(function(e) {

        e.preventDefault();    
        var formData = new FormData(this);

        $.ajax({
                url: '{% url "articles:comments" article.id %}',
                type: 'POST',
                data: $("#comment_form").serialize(),
                success: function (data) {

                    if (data.success){
                        //new_element = document.createElement()
                        //document.getElementById("comments_container").insertBefore(new_element, document.getElementById("comments_container").firstElementChild)

                        var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                        var profile_image = document.cookie.replace(/(?:(?:^|.*;\s*)profile_image\s*\=\s*([^;]*).*$)|^.*$/, "$1");
                        if (profile_image != 'None') profile_image = profile_image.substring(1, profile_image.length-1);

                        new_html = `
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 well">
                                ${profile_image != 'None' ? '<img src="' + profile_image + '" class="comment-profile-image">' : '<span class="glyphicon glyphicon-user comment-glyph"></span>'}
                                <a href="/profile/@${ cookieValue }/">${ cookieValue }</a>
                                <p class="comment-content">${ data.comment }</p>
                                <span class="pull-right"><span class="glyphicon glyphicon-calendar"></span> ${ data.date.split('T')[0] } , ${ data.date.split('T')[1].split('.')[0] }</span>
                            </div>
                        `;  
                        old_html = document.getElementById("comments_container").innerHTML;
                        document.getElementById("comments_container").innerHTML = new_html + old_html;

                        document.getElementById("comment_area").value = '';
                        blinkComment();
                    }

                }
            });
        
    });


    $.get("/csrf/", function( data ) {
        $("form").append(data);
    });

</script>

{% endblock %}