
{% extends 'articles/base.html' %}

{% block styles %}
    <style>
      .navbar-inverse .navbar-nav>li>a{
        color: lightgreen;
      }
      span.glyphicon{
        color:green
      }
      button a:link {
        text-decoration: none;
      }
      .form-signin
      {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
      }
      .form-signin .form-signin-heading, .form-signin .checkbox
      {
          margin-bottom: 10px;
      }
      .form-signin .checkbox
      {
          font-weight: normal;
      }
      .form-signin .form-control
      {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
      .form-signin .form-control:focus
      {
          z-index: 0;
      }
      .form-signin input[type="text"]
      {
          margin-bottom: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
      }
      .form-signin input[type="password"]
      {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }
      .account-wall
      {
          margin-top: 20px;
          padding: 40px 0px 20px 0px;
          background-color: #f7f7f7;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      }
      .login-title
      {
          color: #555;
          font-size: 18px;
          font-weight: 400;
          display: block;
      }
      .profile-img
      {
          width: 96px;
          height: 96px;
          margin: 0 auto 10px;
          display: block;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
      }
      .need-help
      {
          margin-top: 10px;
      }
      .new-account
      {
          display: block;
          margin-top: 10px;
      }
    </style>
{% endblock %}

{% block register_active %}class="active"{% endblock %}

{% block content %}

  <div class="container">
    <br><br><br>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <div class="well">
          <h1 class="text-center">Registo</h1>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h4 class="text-center">Introduza os seus dados para se registar</h4>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <br>
          <span class="glyphicon glyphicon-user profile-img" style="color:#5cb85c; font-size:100px;"></span>
          <br>

          <form class="form-signin" method="POST" action="{% url 'articles:register' %}">
            {% csrf_token %}

            <input type="text" name="username" class="form-control text-center" placeholder="Nome de utilizador" required autofocus>
            {% if user_already_exists %}
            <p class="text-danger" style="border-bottom:10px;">Utilizador <b>{{ username }}</b> já existe!</p>
            {% endif %}

            <input type="password" name="password1"  id="password1" class="form-control text-center" placeholder="Palavra-passe" required>

            <input type="password" name="password2"  id="password2" class="form-control text-center has-error" placeholder="Confirmar palavra-passe" required>

            <span id="different_passwords_error" style="color:red; margin-bottom:10px; display:none">Make sure both passwords are the same.</span>

            <button class="btn btn-lg btn-success btn-block" type="submit">Registar</button>

            <span class="clearfix"></span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    var a = true;
    var times = 6;

    function blink(){
      element = document.getElementById("different_passwords_error");
      if (times>0){
        if (a==true){
          element.style.color='white';
          a = false;
          setTimeout(blink, 100);
        }
        else{
          element.style.color='red';
          a = true;
          setTimeout(blink, 400);
        }
        times--;
      }
      else{
        //document.getElementById('different_passwords_error').style.display='none';
        times = 6;
      }
    }

    // -------------------------------------------------------------
    // Alterar as chamadas ao DOM pela sintaxe do jQuery...
    // ... ou, alternativamente, não utilizar jQuery.
    // -------------------------------------------------------------
    $(document).ready(function(){
  	   var $form = $('form');
  	   $form.submit(function(){

          // -------------------------------------------------------------
          // Adicionalmente, substituir as referências aos identificadores
          // dos elementos HTML por referências a campos extraídos da
          // variável "form" (de acordo com o atributo "name")
          // -------------------------------------------------------------
          if (document.getElementById('password1').value!=document.getElementById('password2').value){
            document.getElementById('different_passwords_error').style.display='block';
            blink();
            document.getElementById('password2').value='';
            document.getElementById('password2').focus();
            return false;
          }
  	   });
  	});
  </script>

{% endblock %}
