{% extends "articles/base_public.html" %}

{% load static %}

{% block styles %}
{% endblock %}

{% block topics_active %}class="active"{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 id="topic_description">{{ topic }}</h1>
</div>


<div class="container">
    <!-- |  DRAFTS  |  PUBLISHED  |  NEW_DRAFT  | -->
    <div>
        <div>
            <ul class="nav nav-tabs nav-justified">
                {% for key, value in topics %}
                    <li {% if topic_key == key %} class="active" {% endif %}>
                        <a data-toggle="pill" href="#{{ key }}" onclick="loadTopicArticles('{{ key }}', '{{ value }}')">{{ value }}</a>
                    </li>
                {% endfor %}
                <!--<li class="active"><a data-toggle="pill" href="#draft_articles" onclick="loadTopicArticles(this, drafts = false, published = true)">Artifical Intelligence </a></li>
                <li><a data-toggle="pill" href="#published_articles" onclick="loadTopicArticles(this, drafts = true, published = false)">Web Programming </a></li>
                <li><a data-toggle="pill">Software Engineering</a></li>
                <li><a data-toggle="pill">Data Science</a></li>
                <li><a data-toggle="pill">Cryptography</a></li>-->
                
                
            </ul>
        </div>    
    </div>


    <!-- ARTICLES -->
    <div class="tab-content">
        {% for key, value in topics %}
            <div id="{{ key }}" class="tab-pane fade in {% if topic_key == key %} active {% endif %}">
                <br><br>
                <div class="row" id="{{ key }}_content">
                    {% if topic_key == key %}
                        {% for article in articles %}
                            <div class="col-md-6" id="article_box_{{ article.id }}" onclick="window.location.href = '{% url "articles:read_article" article.id %}'">
                                <div class="article-box">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {% if article.image_path != "" %}
                                            <div class="article-box-image" style="background-image: url('http://p7g5g3g9.hostrycdn.com/{{ article.image_path }}');">
                                            {% else %}
                                            <div class="article-box-image" style="background-image: url('https://www.freeiconspng.com/uploads/no-image-icon-6.png');">
                                            {% endif %}                                    
                                                <div class="article-box-controls-container">
                                                    <p class="article-box-controls">
                                                        <a href="{% url 'articles:read_article' article.id %}"><span class="glyphicon glyphicon-eye-open edit-action-icon" title="Read"></span></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-6" onclick="window.location.href = '{% url "articles:edit_article" article.id %}'">-->
                                        <div class="col-sm-6">
                                            <div class="article-box-content">
                                                <div class="article-box-title">
                                                    <h3>{{ article.title }}</h3>
                                                    <p class="ellipsed">{{ article.description }}</p>
                                                </div>
                                                <div class="article-author">
                                                    <span class="glyphicon glyphicon-user pull-left"></span>
                                                    <h4><a href="/profile/@{{ article.author }}/">{{ article.author }}</a></h4>
                                                    <p><span class="glyphicon glyphicon-calendar"></span>&nbsp; {{ article.last_modified_date | date:"Y-m-d" }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div id="{{ key }}_loader" class="loader {% if topic_key == key %} invisible {% endif %}"></div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>



{% endblock %}





{% block scripts %}
    <script>        
        var is_search_by_topic_template = true;
        var topic_key = '{{ topic_key }}';
    </script>
    <script src="{% static 'script.min.js' %}"></script>
{% endblock %}
