{% extends "articles/base_public.html" %}

{% load static %}

{% block styles %}
{% endblock %}

{% block search_active %}class="active"{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 id="topic_description">
        <form id="search_form" class="form-inline" method="GET" action="{% url "articles:search"  %}">
            <div class="form-group">
                <span id="search_glyph" class="glyphicon glyphicon-search"></span>
                <input id="search_box" name="articles" type="text" class="form-control text-center" placeholder="Search articles..."/>
                <span id="articles_picker" title="Search articles" class="glyphicon glyphicon-pencil picker green" onclick="setTypeOfSearch('articles');"></span>
                <span id="people_picker" title="Search people" class="glyphicon glyphicon-user picker lightgreen" onclick="setTypeOfSearch('people');"></span>
            </div>
        </form>
    </h1>
</div>

<div class="container">
    <div id="search_articles" class="row">

    </div>

    <div id="search_people" class="row">       
        
    </div>

    <div id="search_error">
        <h3 id="error_message" class="text-center"></h3>
    </div>
</div>





{% endblock %}




{% block scripts %}
    <script>        
        var is_search_template = true;
    </script>
    <script src="{% static 'articles/script.js' %}"></script>
{% endblock %}