<html>
    <head>
        <title>Unvariable</title>
    </head>
    <body>
        <div id="div1"></div>
        <p>{{ current_date }}</p>
        <a href="/unvariable/">UNVARIABLE</a>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            document.getElementById("div1").innerHTML = getCookie("csrftoken");
        </script>
    </body>
</html>